extends layout

block onLoadScript
  script.
    $(document).ready(function(){
      drawSgChart("myChart");
    });

block content
  h1= `${title}`
  p Click button to snooze alarm
  button(class='button', onclick="$.get('/ns/snooze', function (r,e){})") Click
  canvas#myChart(width="100", height="50")

  h6= `Last updated ${lastUpdated}`
  h3= `Last reading {data.last}`
