extends layout

block onLoadScript
  script.
    $(document).ready(function(){
      drawSgChart("myChart",     {zoom: false, colour: "#ff0000"});
      drawSgChart("myChartZoom", {zoom: true, colour: "#0000ff"});
      $("#lastUpdate").load('/ns/lastUpdateTime');
      $("#sgLevel").load('/ns/sgLevel');
    });

block content
  div(class='heading')= `${title}`
  button(class='button', onclick="$.get('/ns/snooze', function (r,e){})") Snooze
  canvas#myChart(width="100", height="50")
  canvas#myChartZoom(width="100", height="50")

  div(class='heading')=`Last updated: `
    span#lastUpdate
    span=', SG: '
    span#sgLevel
  button(class='button', onclick="location.reload(true)") Reload
