extends layout

block onLoadScript
  script.
    $(document).ready(function(){
      drawSgChart("myChart",     {zoom: false, colour: "#ff0000"});
      drawSgChart("myChartZoom", {zoom: true, colour: "#0000ff"});
      $("#lastUpdate").load('/ns/lastUpdateTime');
      $("#sgLevel").load('/ns/sgLevel');
    });

block content
  span(class='heading')= `${title}`
  a(class='button' href='/logs') Logs
  a(class='button' href="/") Reload
  a(class='button' onclick="$.get('/ns/snooze', function (r,e){})", style={"margin-left": "60px"}) Snooze
  p
  canvas#myChart(width="100" height="50")
  canvas#myChartZoom(width="100" height="50")

  div(class='heading')=`Last updated: `
    span#lastUpdate
    span=', SG: '
    span#sgLevel
