html {
  color: grey;
  background-color: black;
}

.heading{
  font-size: 400%;
}

.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.logger{
  width: 500px;
  border-collapse: collapse;
}

.logger td{
  border: 1px solid black;
}

.logger tr:nth-child(even){
  background-color: #e4ffb7;
}

.logger tr:nth-child(odd){
  background-color: #efffd2;
}

.header{
  text: center;
  font-weight: bolder;
  background-color: #80b327;
  color: white;
}